<div class="col-sm-6 col-md-4">
  <div class="thumbnail user-<%= user.id %>">
    <div class="caption">
      <h3><%= link_to user.name, user_path(user) %></h3>
      <p>@<%= user.username %><p>
      <p>
        <%= follow_toggle_button(user) %>
        <%= block_toggle_button(user) %>
      </p>
    </div>
  </div>
</div>
