<div class="col-sm-6 col-md-4">
  <div class="thumbnail user-<%= user.id %>">
    <div class="caption">
      <h3><%= user.name %></h3>
      <p>@<%= user.username %><p>
      <p>
        <%= follow_unfollow_button(user) %>
        <%= link_to 'View profile', user_path(user), class: 'btn btn-default' %>
      </p>
    </div>
  </div>
</div>
